/*
* box model like it should be
*
* http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* html is set to 62.5% so that all the REM measurements throughout  are based on 10px sizing. So basically 1.5rem = 15px :) */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga' on;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
* kill document defaults margin & padding. We all do that all the time, right ?
*/
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: visible;
}

/*
* page styles
*/
html {
  min-height: 100%;
  background: #fff;
  font-size: 10px;
}

/*
* Set default height to viewport to avoid jumpy UI
*/
#phenomic {
  min-height: 100vh;
}

a {
  color: #aaaaaa;
  text-decoration: none;

  &:hover {
    color: white;
  }
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

body {
  font-size: 1.6rem;
  font-family: 'Serverless';
}
h1,
h2,
h3 {
  font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
}
h1 {
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -0.05rem;
}
h2 {
  font-size: 2.5rem;
  line-height: 1.25;
  letter-spacing: -0.03rem;
}
h3 {
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: -0.025rem;
}
h4 {
  font-size: 1.8rem;
  line-height: 1.35;
  letter-spacing: -0.02rem;
}
h5 {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: -0.02rem;
}
h6 {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 0;
}
p {
  letter-spacing: 0;
}

img {
  max-width: 100%;
}

img[align='left'] {
  margin-right: 20px;
}
img[align='right'] {
  margin-left: 20px;
}

code {
  font-size: 95%;
  padding-left: 2px;
  padding-right: 2px;
  vertical-align: baseline;
  color: #fd5750;
}

table {
  max-width: 960px;
  margin: 10px 0;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: #828282;
  color: #fff;
}

tr {
  background: #e3e3e3;
  border-bottom: 1px solid #fff;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #f3f3f3;
}

th,
td {
  text-align: left;
  padding: 10px;
}
td ul {
  margin: 0;
  padding: 0px;
  list-style: none;
  li {
    word-wrap: break-word;
  }
}

tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}

@font-face {
  font-family: 'Serverless';
  font-weight: normal;
  font-style: normal;
  src: local('Serverless'), local('Serverless-Regular'),
    url('../assets/fonts/serverless.otf') format('opentype');
}

@font-face {
  font-family: 'SoleilBk';
  font-weight: normal;
  font-style: normal;
  src: local('SoleilBk'), local('Soleil-Book'),
    url('../assets/fonts/soleil-bk.otf') format('opentype');
}

@font-face {
  font-family: 'SoleilSb';
  font-weight: normal;
  font-style: normal;
  src: local('SoleilSB'), local('Soleil-Small-Book'),
    url('../assets/fonts/soleil-sb.otf') format('opentype');
}

@font-face {
  font-family: 'Soleil';
  font-weight: normal;
  font-style: normal;
  src: local('Soleil'), local('Soleil'),
    url('../assets/fonts/soleil.otf') format('opentype');
}

@font-face {
  font-family: 'SoleilBk-Italic';
  font-weight: normal;
  font-style: normal;
  src: local('SoleilBk-Italic'),
    url('../assets/fonts/soleil-bk-italic.otf') format('opentype');
}

@font-face {
  font-family: "SoleilLt";
  font-weight: normal;
  font-style: normal;
  src: local("SoleilLt"),
  local("Soleil-Light"),
  url('../assets/fonts/soleil-lt.otf') format("opentype");
}

/*
* Design for code block
*/
code.hljs {
  display: inline-block;
  width: 100%;
  overflow-x: scroll;
  padding-left: 78px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  border: 1px solid #dfe5e6;
  font-family: Serverless;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.1px;
  color: #795da3;
}

code.hljs:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 56px;
  background: #f7f7f7;
}

code.hljs > a.line {
  text-decoration: none;
  border: none;
  position: absolute;
  left: 0;
  width: 56px;
  text-align: center;
  display: inline-block;
  font-family: 'Serverless';
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.2);
}

.hljs{display:block;background:white;padding:0.5em;color:#333333;overflow-x:auto;border: 1px solid #ddd}.hljs-comment,.hljs-meta{color:#969896}.hljs-string,.hljs-variable,.hljs-template-variable,.hljs-strong,.hljs-emphasis,.hljs-quote{color:#fd5750}.hljs-keyword,.hljs-selector-tag,.hljs-type{color:#a71d5d}.hljs-literal,.hljs-symbol,.hljs-bullet,.hljs-attribute{color:#0086b3}.hljs-section,.hljs-name{color:#63a35c}.hljs-tag{color:#333333}.hljs-title,.hljs-attr,.hljs-selector-id,.hljs-selector-class,.hljs-selector-attr,.hljs-selector-pseudo{color:#795da3}.hljs-addition{color:#55a532;background-color:#eaffea}.hljs-deletion{color:#bd2c00;background-color:#ffecec}.hljs-link{text-decoration:underline}

.ais-InstantSearch__root {
  width: 100%;
}
